body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.home {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #F2E2B1;
    padding: 25px;
    position: sticky;
    top: 0%;
    margin: 0%;
    height: 50px;
}

.daftarisi a {
    margin-left: 50px;
}

.intro img {
    width: 50%;
}

.intro {
    display: flex;
    align-items: center;
    background-color: #D8AE7E;
}
.isi h1 {
    font-size: 40px;
    margin-left: 85px;
    margin-right: 85px;
}

.paragraf {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 85px;
    margin-right: 85px;
}

.isi2 {
    width: 150px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background-color: black;
    color: white;
    margin-left: 85px;
    margin-right: 85px;
   
}

.isi3 {
    width: 150px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 10px;   
}

.elemeninti {
    display: flex;
    align-self: center;
    background-color: #c7ba94;
    padding: 50px;
    gap: 10px;
}

.elemeninti h1 {
    font-weight: bold;
    margin-top: 1px;
    
}

.elemen1 {
    width: 50%;
    margin-top: 60px;
}

.elemen2 {
    width: 50%;
    margin-top: 60px;
}

.kolomdaftar {
    background-color: #D7D3BF;
    display: flex;
    align-items: center;
    height: 70vh;
}

.kolomdaftar h2 {
    margin: 20%;
    line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.daftar input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #fdfdfc;
  font-weight: bold;
}

.daftar button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: #fdfdfc;
    align-self: self-end;
    font-weight: bold;
}

.ending {
    padding: 5px;
    background-color: #a9a388;
    display: flex;
    justify-content: center;
}
